html
h1 The autocomplete attribute off
p Submit form
form(action='/' method='POST' autocomplete='off')
  label(for='name') Name: 
  input#name(type='text' name='name')
  br
  br
  input(type='submit' value='Submit')
